<a href="https://colab.research.google.com/github/chewzzz1014/fyp/blob/master/ner-src/download_hugging_face_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Preparation
Steps:
1. Download multiple resume dataset from hugging face
2. Remove unwanted columns and limit number of rows (for dataset with many rows, only focus on the IT-related resumes)
3. Merge all datasets into one csv and download.

Dataset Links
- https://huggingface.co/datasets/InferencePrince555/Resume-Dataset
- https://huggingface.co/datasets/kvsrkc/Resume
- https://huggingface.co/datasets/opensporks/resumes
- https://huggingface.co/datasets/Dh1raj/resume-dataset
- https://huggingface.co/datasets/cnamuangtoun/resume-job-description-fit?row=19
- https://huggingface.co/datasets/ahmedheakl/resume-atlas

In [1]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import dataset from hugging face
df1 = pd.read_csv("hf://datasets/InferencePrince555/Resume-Dataset/updated_data_final_cleaned.csv")
# df2 = pd.read_csv("hf://datasets/kvsrkc/Resume/Resume.csv")
# df3 = pd.read_csv("hf://datasets/opensporks/resumes/Resume/Resume.csv")

# df4_splits = {'train': 'data/train-00000-of-00001.parquet', 'test': 'data/test-00000-of-00001.parquet', 'validation': 'data/validation-00000-of-00001.parquet'}
# df4 = pd.read_parquet("hf://datasets/Dh1raj/resume-dataset/" + df4_splits["train"])

# df5_splits = {'train': 'train.csv', 'test': 'test.csv'}
# df5 = pd.read_csv("hf://datasets/cnamuangtoun/resume-job-description-fit/" + df5_splits["train"])

# df6 = pd.read_csv("hf://datasets/ahmedheakl/resume-atlas/train.csv")

/usr/local/lib/python3.10/dist-packages/huggingface_hub/utils/_token.py:89: UserWarning:
The secret `HF_TOKEN` does not exist in your Colab secrets.
To authenticate with the Hugging Face Hub, create a token in your settings tab (https://huggingface.co/settings/tokens), set it as secret in your Google Colab and restart your session.
You will be able to reuse this secret in all of your notebooks.
Please note that authentication is recommended but still optional to access public models or datasets.
  warnings.warn(

## Preprocess df1

In [3]:
# process df1
distinct_instructions = df1['instruction'].unique()
print("Distinct values in 'instruction' column in df1:", distinct_instructions)

Distinct values in 'instruction' column in df1: ['Generate a Resume for a Accountant Job'
 'Generate a Resume for a Advocate Job'
 'Generate a Resume for a Agriculture Job'
 'Generate a Resume for a Apparel Job' 'Generate a Resume for a Arts Job'
 'Generate a Resume for a Automation Testing Job'
 'Generate a Resume for a Automobile Job'
 'Generate a Resume for a Aviation Job' 'Generate a Resume for a BPO Job'
 'Generate a Resume for a Banking Job'
 'Generate a Resume for a Blockchain Job'
 'Generate a Resume for a Business Analyst Job'
 'Generate a Resume for a Business Development Job'
 'Generate a Resume for a Chef Job'
 'Generate a Resume for a Civil Engineer Job'
 'Generate a Resume for a Construction Job'
 'Generate a Resume for a Consultant Job'
 'Generate a Resume for a Data Science Job'
 'Generate a Resume for a Database Job'
 'Generate a Resume for a Database Administrator Job'
 'Generate a Resume for a Designer Job'
 'Generate a Resume for a DevOps Engineer Job'
 'Generate a Resume for a Digital Media Job'
 'Generate a Resume for a DotNet Developer Job'
 'Generate a Resume for a ETL Developer Job'
 'Generate a Resume for a Electrical Engineering Job'
 'Generate a Resume for a Engineering Job'
 'Generate a Resume for a Finance Job'
 'Generate a Resume for a Fitness Job' 'Generate a Resume for a HR Job'
 'Generate a Resume for a Hadoop Job'
 'Generate a Resume for a Health and fitness Job'
 'Generate a Resume for a Healthcare Job'
 'Generate a Resume for a Information Technology Job'
 'Generate a Resume for a Java Developer Job'
 'Generate a Resume for a Mechanical Engineer Job'
 'Generate a Resume for a Network Administrator Job'
 'Generate a Resume for a Network Security Engineer Job'
 'Generate a Resume for a Operations Manager Job'
 'Generate a Resume for a PMO Job'
 'Generate a Resume for a Project manager Job'
 'Generate a Resume for a Public Relations Job'
 'Generate a Resume for a Python Developer Job'
 'Generate a Resume for a SAP Developer Job'
 'Generate a Resume for a Sales Job'
 'Generate a Resume for a Security Analyst Job'
 'Generate a Resume for a Software Developer Job'
 'Generate a Resume for a Systems Administrator Job'
 'Generate a Resume for a Teacher Job'
 'Generate a Resume for a Testing Job'
 'Generate a Resume for a Web Designing Job'
 'Generate a Resume for a Web Developer Job']

In [4]:
# filter the resume by IT-related resumes only due to high number of resumes
filtered_jobs = [
    "data science",
    "database",
    "devops",
    "developer",
    "information technology",
    "web"
]
filtered_df = df1[df1['instruction'].str.contains('|'.join(filtered_jobs), case=False, regex=True)]
print("Distinct values in 'instruction' column of filtered_df:", filtered_df['instruction'].unique())

Distinct values in 'instruction' column of filtered_df: ['Generate a Resume for a Data Science Job'
 'Generate a Resume for a Database Job'
 'Generate a Resume for a Database Administrator Job'
 'Generate a Resume for a DevOps Engineer Job'
 'Generate a Resume for a DotNet Developer Job'
 'Generate a Resume for a ETL Developer Job'
 'Generate a Resume for a Information Technology Job'
 'Generate a Resume for a Java Developer Job'
 'Generate a Resume for a Python Developer Job'
 'Generate a Resume for a SAP Developer Job'
 'Generate a Resume for a Software Developer Job'
 'Generate a Resume for a Web Designing Job'
 'Generate a Resume for a Web Developer Job']

In [5]:
# drop columns
df1 = filtered_df.drop(columns=['instruction', 'input'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17324 entries, 1428 to 32480
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Resume_test  17324 non-null  object
dtypes: object(1)
memory usage: 270.7+ KB

In [11]:
df1.to_csv('/content/drive/MyDrive/FYP/Implementation/Resume Dataset/resume_collection_1.csv', index=False)